<h2>My Dashboard</h2>

<p>Create new categories</p>
<p>Create a new product <!-- this should link to the products page?--></p>
<p> <%= link_to "Create a new product", new_product_path %> </p>

<p>Retire a product</p>
<p> <%= link_to "Retire a product", _product_path %> </p>


<!--<p>Assign product to a category</p>-->
<p>edit/update existing products</p>
<p>view order fulfillment</p>

