<h2>My Dashboard</h2>

<p>Create new categories</p>
<p> <%= link_to "Create a new product", new_product_path %> </p>
<p> <%= link_to "Retire a product", user_path(@user.id) %> </p>


<!--<p>Assign product to a category</p>-->
<p>edit/update existing products</p>
<p>view order fulfillment</p>

