<h2>My Dashboard</h2>

<p>Create new categories</p>
<p>Create a new product <!-- this should link to the products page?--></p>
<h2> <%= link_to "Create a new product", new_product_path %> </h2>


<p>Retire a product</p>
<!--<p>Assign product to a category</p>-->
<p>edit/update existing products</p>
<p>view order fulfillment</p>

