// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dashboard-image {
  width: 25%;
  height: auto
}

#user-show-bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

#user-show-info {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  display: block;
}

#user-show-avatar {
  grid-row: 1 / -1;
  grid-column: -2 / -1;
}

