<main>
  <h2 class="small-glow">Products</h2>
    <section class="container"> <!--class was "product-image" before -->
      <ul>
        <% @products.each do |product|  %>
          <% if product.retire == false || product.retire == nil%>
            <span><li> <%= link_to product.name, product_path(product), class: "hover-5"%> </li></span>
        <% end %>
          <% end %>
      </ul>
    </section>
</main>
