<main>
  <h2>
    <section class=”product-index”>
      Products
    </section>
  </h2>
  <ul> <% @products.each do |product|  %>
      <li> <%= link_to product.name, product_path(product) %> |</li>
    <% end %>
  </ul>
</main>
